TEMP_DIR = '/usr/local/tmp'
EXIFTOOL_PATH = '/usr/local/bin/exiftool'
FEDORA_URL = 'REPLACE'
FEDORA_USER = 'REPLACE'
FEDORA_PASS = 'REPLACE'
IS_MEMBER_OF_SITE = 'http://digital.library.pitt.edu/ontology/relations#isMemberOfSite'
IS_PAGE_OF = 'http://islandora.ca/ontology/relsext#isPageOf'
IS_MEMBER_OF = 'info:fedora/fedora-system:def/relations-external#isMemberOf'
IS_MEMBER_OF_COLLECTION = 'info:fedora/fedora-system:def/relations-external#isMemberOfCollection'
IS_PAGE_NUMBER = 'http://islandora.ca/ontology/relsext#isPageNumber'
IS_SEQUENCE_NUMBER = 'http://islandora.ca/ontology/relsext#isSequenceNumber'
IS_SECTION = 'http://islandora.ca/ontology/relsext#isSection'
LEGACY_WORKFLOW_URL = 'http://bigfoot.library.pitt.edu'
